/* CSS extra do Portal Procontabi-se */
.gtco-nav {
    position: fixed !important;
}
img#logo-tipo {
    width: 230px;
    border: none;
    margin-top: -60px;
}
div > #logo-desc {
    color: #f0ad4e;
    font-size: 11px;
	margin-left: 3px;
}
.gtco-cover .overlay {
    height: 130px;
	background: #337ab7 !important;
	position:static;
}
#gtco-features-3 {
    top: 0;
}
header#gtco-header {
    height: 700px !important;
}
nav.gtco-nav {
    background: #FFFFFF !important;
	border: 1px solid rgba(119, 119, 119, 0.21);
}
.gtco-nav ul li.active > a {
    color: #f0ad4e !important;
}
ul.menutop.area-cliente a:hover {
    color: #FFFFFF !important;
}
.gtco-nav ul li a {
    font-size: 12px;
    padding: 30px 10px;
    color: #337ab7;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.gtco-container {
    padding-left: 0px !important; 
    padding-right: 0px !important;
}
.gtco-nav ul {
    padding: 0;
    margin: 1px 15px 0 0;
}
.col-xs-8.text-right.menu-1 {
    padding: 0px !important;
}
.gtco-nav ul li {
    margin: -5px;
}
li.area-cliente {
    background-color: #f0ad4e;
    padding: 10px !important;
    border-radius: 5px;
    padding-top: 30px !important;
}
input#prsnlzd_soc {
    padding: 10px;
}
input#prsnlzd_fun {
    padding: 10px;
}
.gtco-nav ul li a:hover,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:active {
    color: #f0ad4e;
}
.gtco-nav ul li.area-cliente a:hover {
    color: #FFFFFF;
}
.gtco-nav .gtco-contact ul.menutop li.area-cliente a:hover i {
    color: #FFFFFF !important;
    transition: 0.5s;
}
.gtco-cover .display-t, .gtco-cover .display-tc {
    height: 700px !important;
}
h1.animate-box.fadeInUp.animated-fast {
    color: #1b1e82 !important;
}
h2.animate-box.fadeInUp.animated-fast {
    color: #f0ad4e !important;
}
#gtco-products h1.animate-box.fadeInUp.animated-fast {
    color: #1b1e82 !important;
	font-size: 60px;
}
#gtco-products h2.animate-box.fadeInUp.animated-fast {
    color: #f0ad4e !important;
	font-size: 22px;
}
.gtco-nav .gtco-contact ul li a i {
    color: #337ab7;
}
#gtco-logo a {
    padding: 0;
    color: none;
}
.gtco-nav .gtco-contact ul.menutop li a:hover i {
    color: #f0ad4e !important;
	transition: 0.5s;
}
[class^="icon-"], [class*=" icon-"]{
	font-size: 18px;
}
.gtco-nav .gtco-contact ul li a {
    font-size: 15px;
}
#gtco-features-3 .feature {
    background: #337ab7 !important;
	width: 277px;
}
#gtco-features-3 .feature h5 {
    color: #f0ad4e !important;
}
#gtco-features-3 .feature.feature-2 {
    background: #337ab7;
}
#gtco-features-3 .feature.feature-3 {
    background: #337ab7;
}
#gtco-features-3 .feature.feature-2:before {
    background: #337ab7;
}
#gtco-features-3 .feature.feature-2:after {
    background: #337ab7;
}
#gtco-features-3 .feature.feature-2 .icon {
    background: #f0ad4e;
}
#gtco-features-3 .feature .icon {
    background: #f0ad4e;
}
#gtco-features-3 .feature.feature-3 .icon {
    background: #f0ad4e;
}
.btn-white.btn-outline {
    color: #ffffff;
    border: 2px solid #f0ad4e;
    background-color: #f0ad4e;
    width: 210px;
}
div#gtco-features {
    padding-top: 80px;
    padding-bottom: 20px;
}
#gtco-header .display-tc h2, #gtco-counter .display-tc h2, .gtco-cover .display-tc h2 {
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.7);
}

.feature-center .icon {
    border: 1px solid #f0ad4e;
	background-color: #f0ad4e;
}
.feature-center .icon i {
    color: #ffffff;
}
.gtco-heading h2:before {
    background: #f0ad4e;
}
.gtco-heading h2 {
	font-size: 25px !important;
}
#gtco-subscribe .btn {
    background: #f0ad4e;
}
footer#gtco-footer {
    padding-top: 40px;
    padding-bottom: 0px;
}
#gtco-footer .gtco-footer-links li a {
    text-decoration: none;
    color: #337ab7;
}
#gtco-footer .gtco-widget a{
    color: #337ab7;
}
.gtco-social-icons li a {
	color: #337ab7;
}
#gtco-calc {
    clear: both;
    position: relative;
    padding-bottom: 0em;
    padding-top: 6em;
}
#gtco-subscribe {
    background: #337ab7;
}
div#gtco-subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
}
h2.subscribe-t {
    font-size: 22px;
}
#gtco-subscribe .gtco-heading p {
    color: #eeeeee;
}
p.esp-p {
    font-size: 16px;
    text-align: justify;
}
.prsnlzd_calc2 {
    padding-top: 35px; 
    padding-bottom: 20px; 
    background: #f2f2f2;
}

.prsnlzd_calc2 form {
    width: 100%;
}

.prsnlzd_calc {
    background: #ffffff;
    padding-bottom: 0px;
}

.prsnlzd_calc form {
    width: 100%;
}

.prsnlzd_calc_conteudo2 ,
.prsnlzd_calc_conteudo {
    text-align: center;
}

.prsnlzd_calc_conteudo2 h2 , 
.prsnlzd_calc_conteudo h2 {
    font-size: 28px;
    color: #0af;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.prsnlzd_calc_conteudo2 h2 {
    margin-top: 0px;
}

.prsnlzd_calc_conteudo2 label , 
.prsnlzd_calc_conteudo label {
    font-size: 16px;
}

.prsnlzd_calc_conteudo2 [type=number] , 
.prsnlzd_calc_conteudo [type=number] {
    border: 1px #004bb7 solid;
    text-align: right;
    border-radius: 6px;
    width: 96%;
    font-weight: bold;
}

.prsnlzd_calc_conteudo [type=text] ,
.prsnlzd_calc_conteudo [type=text] {
    border: 1px #004bb7 solid;
    text-align: right;
    border-radius: 6px;
    width: 96%;
    font-weight: bold;
}

.prsnlzd_calc_conteudo2 select ,
.prsnlzd_calc_conteudo select {
    border: 1px #004bb7 solid;
    border-radius: 6px;
    margin-right: 1%;
    width: 96%;
    font-weight: bold;
}

.prsnlzd_calc_conteudo2 button ,
.prsnlzd_calc_conteudo button {
    border-radius: 6px;
    margin-top: 24px;
    margin-right: 1%;
    font-weight: bold;
}

.prsnlzd_calc_resultado {
    // display: none;
    text-align: center;
}

.prsnlzd_calc_resultado h2 {
    font-size: 28px;
    color: #337ab7;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 20px;
}

#prsnlzd_calc_valor {
    color: #337ab7;
    background-color: #f0ad4e;
	padding: 10px;
	border-radius: 5px;
}

#prsnlzd_cal {
    width: 195px;
    margin-top: 31px;
    padding-top: 12px !important;
    padding-bottom: 13px !important;
}

.prsnlzd_calc_conteudo_grupo {
    text-align: center;
    padding-left: 2.5%;
}

.prsnlzd_calc_conteudo_subgrupo {
    float: left;
    min-width: 19.2%;
    max-width: 19.2%;
    width: 19.2%;
    text-align: center;
    color: #337ab7;
    /*margin: 10px;*/
}

#prsnlzd_tip {
    height: 48px;
    text-transform: uppercase;
}

.input-append { 
    position: relative; 
}

.input-append span.add-on {
    position: absolute;
    pointer-events: none;
    right: 0px;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
}

.input-append span.add-on { 
    right: 0px;
    font-size: 20px;
}

.input-append input { 
    padding-right: 30px;
}

.input-prepend { 
    position: relative; 
}

.input-prepend span.add-on {
    position: absolute;
    pointer-events: none;
    left: 0px;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    font-size: 20px;
}

.input-prepend span.add-on { 
    left: 0px;
}

.input-prepend input { 
    padding-left: 30px;
}

.secao-planos {
    width: 100%;
    min-height: 1px;
    /*background: #cb0000;*/
}

.secao-planos:after {
    clear: both;
}

.secao-planos .btn a { 
    display: inline-block;
    background-color: #8ccc00; 
    padding: 5px 0; 
    width: 75%; 
    color: #fff; 
    font-weight: bold; 
    text-align: center; 
    font-size: 20px; 
    border-radius: 6px; 
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.secao-planos .btn a:hover { 
    background-color: #6FA100; 
}

.secao-plano-quadro {
    float: left;
    width: 24%;
    margin-left: 1%;
    margin-bottom: 15px;
    font-size: 18px;
}

.secao-plano-quadro-borda {
    color: #ffffff; 
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
     -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.secao-plano-quadro-titulo {
    border-radius: 5px 5px 0px 0px;
    padding-top: 25px;
    margin: 0px;
    text-align: center;
    font-size: 25px;
}

.secao-plano-quadro-titulo h2.title {
    font-size: inherit;
}

.secao-plano-quadro-valor {
    border-radius: 5px 5px 0px 0px;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    margin: 0px;
    text-align: center;
}

.secao-plano-quadro-descritivo {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background: #2C3F52;
    color: #ffffff;
    padding: 10px;
    border-radius: 0px;
    margin: 0px;
    text-align: center;
    visibility: hidden;
    font-size: 0px;
}

.secao-plano-mei {
    background: #1492FF;
    /*background: #00AAFF;*/
}

.secao-plano-simplesservico {
    background: #0F74CC;
}

.secao-plano-simplescomercio {
    background: #0A508B;
}

.secao-plano-simplessercom {
    background: #063056;
}

h2.secao-planos-simplessercom-h3 {
    margin-bottom: 25px;
}

.secao-planos-ativo {
    padding-top: 47px;
    padding-bottom: 22px;
}

.secao-plano-quadro-valor strong {
    font-size: 20px;
}

.secao-plano-quadro-valor strong.secao-planos-valor {
    font-size: 70px;
}

.secao-plano-quadro-valor h2.sub {
    font-size: 20px;
}

a.sobrepor { 
    /*width: 100%;*/
    /*height: 100%;*/
    width: 22%;
    height: 50%;
    position: absolute; 
}

.secao-plano-quadro-botao {
    
}

.espacamento-especial {
    padding-top: 40px;
    padding-bottom: 20px;
}
 
#formulario_pesquisa {
    width: 100%;
}

#formulario_pesquisa div.row {
    display: block;
}

#formulario_pesquisa input {
    border: 1px #ccc solid;
}

#formulario_pesquisa button {
    
}

table.tabela-simples-nacional {
    font-size: 16px;
}

table.tabela-simples-nacional thead tr th {
    background: #00aaff;
    color: #fff;
    padding: 10px;
}

table.tabela-simples-nacional tbody tr.par td {
    background: #f2f2f2;
    color: #000;
    padding: 10px;
}

table.tabela-simples-nacional tbody tr.impar td {
    background: #ffffff;
    color: #000;
    padding: 10px;
}

table.tabela-simples-nacional tfoot tr th {
    background: #00aaff;
    color: #fff;
    padding: 10px;
}

#carregando {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 9999997;
    opacity:0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
    background: black;
    text-align: center;
}

#carregando img {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    padding-top: 175px;
    left: 48%;
    position: absolute;
}
    
.icone-letra-grande {
    font-size: 25px;
}

.imagemspv {
    display: inline; 
    text-align: center; 
    max-width: 330px;
}

.h2spv {
    font-size: 28px; 
    color: #0af; 
    font-weight: bold; 
    text-align: center; 
    display: block; 
    margin-bottom: 10px; 
    margin-top: 20px;
}

@media all and (max-device-width:768px) {
    .prsnlzd_calc2 , 
    .prsnlzd_calc {
        display: none;
    }
    
    .icone-letra-grande {
        font-size: 23px;
    }
    
    .secao-plano-quadro {
        width: 100%;
        margin-left: 0px;
    }
    
    .secao-plano-quadro-valor {
        padding-bottom: 46px;
    }
    
    .secao-plano-simplessercom {
        margin-right: 0px;
    }
    
    h2.secao-planos-simplessercom-h3 {
        /*margin-bottom: 50px;*/
    }
    
    table.tabela-simples-nacional {
        font-size: 12px;
    }
    
    .contabilivre-desktop {
        display: none;
    }

    .imagemspv {
        max-width: 230px;
    }


    .h2spv {
        font-size: 20px;
    }
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  width: 20px;
  color: #ffffff;
  font-size: 50px;
  opacity: 100;
  margin-top: -18px;
}
.close:hover,
.close:focus {
  color: #efefef;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: #fff;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-size: 18px;
  padding: 0px;
  color: #fff;
}
.modal h4 {
    font-size: 18px;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
   width: 100%;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 100%;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  /*border-bottom: 1px solid #e5e5e5;
  background: #0af;*/
  color: #fff;
  font-weight: bolder;
}
.modal-header .close {
  margin-top: -14px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.preenchimentoirpf {
    margin: 0 auto;
    background-color: #00AAFF;
    color: #fff;
    padding-bottom: 80px;
    font-size: 20px;
    text-align: center;
}

.preenchimentoirpf form {
    width: 100%;
}

.preenchimentoirpf_conteudo,
.preenchimentoirpf_contratacao {
    padding: 0 50px;
    text-align: center;
}

.preenchimentoirpf input[type=checkbox] {
    height: 20px; 
    width: 20px; 
    -webkit-appearance: checkbox; 
    -moz-appearance: checkbox; 
    appearance: checkbox;
}

.preenchimentoirpf_conteudo h2,
.preenchimentoirpf_contratacao h2 {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.valoradicionalplano {
    color: #95EA00;
    text-shadow: #000 0.075em 0.075em 0.1em;
    font-weight: bold;
    font-size: 25px;
}

.preenchimentoirpf_contratacao:after {
    clear: both;
}

.preenchimentoirpf_contratacao_dados {
    float: left;
    text-align: left;
    width: 50%;
}

.preenchimentoirpf_contratacao_pagamento {
    float: right;
    text-align: center;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.credit-card-payment {
    border-radius: 10px;
}

.usable-creditcard-form,
.usable-bank-slip-form {
    padding: 10px;
    color: #0af;
}

.usable-creditcard-form input {
    font-size: 14px;
}

.preenchimentoirpf_contratacao_pagamento #credit-card-checkbox-label, 
.preenchimentoirpf_contratacao_pagamento #bank-slip-checkbox-label {
    background: #fff;
    color: #95EA00;
    padding-left: 10px;
    padding-right: 10px;
}

.preenchimentoirpf_contratacao_pagamento #credit-card-checkbox-label.active, 
.preenchimentoirpf_contratacao_pagamento #bank-slip-checkbox-label.active {
    background: #95EA00;
    color: #fff;
}

.preenchimentoirpf .btn a { 
    background-color: #8ccc00; 
    color: #fff;
}

.preenchimentoirpf .btn a:hover { 
    background-color: #6FA100;
}

.payment-method-btn-group {
    text-align: center;
}

.payment-method-btn-group label.btn {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

[data-toggle=buttons]>.btn input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.credit-card-payment {
    background: #ffffff;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/* cidade/atividade */
.cidativ {
    background: #ffffff;
    padding-bottom: 80px;
}

.cidativ form,
#cidativ_form {
    width: 100%;
    background: #f0f0f0;
}

.cidativ_conteudo {
    padding: 0 50px;
    padding-top: 40px;
    text-align: center;
}

.cidativ_conteudo h2 {
    font-size: 28px;
    color: #0af;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.cidativ_conteudo label {
    font-size: 16px;
}

.cidativ_conteudo select {
    border: 1px #004bb7 solid;
    border-radius: 6px;
    margin-right: 1%;
    width: 96%;
    font-weight: bold;
}

.cidativ_conteudo button {
    border-radius: 6px;
    margin-top: 24px;
    margin-right: 1%;
    font-weight: bold;
}

.cidativ_conteudo_grupo {
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

.cidativ_conteudo_subgrupo,
.cidativ_conteudo_subgrupo_icone {
    float: left;
    min-width: 30%;
    max-width: 30%;
    width: 30%;
    text-align: left;
}

.cidativ_conteudo_subgrupo_icone {
    min-width: 10%;
    max-width: 10%;
    width: 10%;
}

#cidativ_icone {
    font-size: 35px;
}
.cidativ {
    background: #ffffff;
    padding-bottom: 80px;
}

.cidativ2 form,
#cidativ_form2 {
    width: 100%;
}

.cidativ_conteudo2 {
    padding: 0 50px;
    padding-bottom: 30px;
    text-align: center;
}

.cidativ_conteudo2 h2 {
    font-size: 28px;
    color: #0af;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.cidativ_conteudo2 label {
    font-size: 16px;
}

.cidativ_conteudo2 select {
    border: 1px #004bb7 solid;
    border-radius: 6px;
    margin-right: 1%;
    width: 96%;
    font-weight: bold;
}

.cidativ_conteudo2 input[type=text] {
    border: 1px #004bb7 solid;
    border-radius: 6px;
    margin-right: 1%;
    width: 99%;
    font-weight: bold;
}

.cidativ_conteudo2 button {
    border-radius: 6px;
    margin-top: 24px;
    margin-right: 1%;
    font-weight: bold;
}

.cidativ_conteudo_grupo2 {
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
}

.cidativ_conteudo_subgrupo2,
.cidativ_conteudo_subgrupo_icone2 {
    float: left;
    min-width: 30%;
    max-width: 30%;
    width: 30%;
    text-align: left;
}

.cidativ_conteudo_subgrupo_icone2 {
    min-width: 10%;
    max-width: 10%;
    width: 10%;
}

#cidativ_icone2 {
    font-size: 35px;
}

.botaofx a {
    background-color: #004BB7;
}

.cidativ_conteudo_frase h2,
.cidativ_conteudo_frase2 h2 {
    font-size: 25px;
    display: none;
}

.cidativ_conteudo_frase h3 {
    font-size: 20px;
    color: #d2b500;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
ul.caixa_menu_esq {
    position: absolute;
    background: #fff;
    color: #004BB7;
    border: 0px #004BB7 solid;
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: left;
    list-style: none;
    display: none;
    border-radius: 0px 6px 6px 6px;
}

ul.caixa_menu_esq li {
    clear: both;
    white-space: nowrap;
}

ul.caixa_menu_esq li h1 a {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #004BB7;
}

ul.caixa_menu_esq li h1 a:hover {
    background: none;
    text-decoration: underline;
    color: #004BB7;
}


ul.caixa_menu_esq > li:first-child,
ul.caixa_menu_esq > li {
    margin: 0px;
    padding: 0px;
}

ul.caixa_menu_dir {
    position: absolute;
    background: #fff;
    color: #004BB7;
    border: 0px #004BB7 solid;
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: right;
    list-style: none;
    display: none;
    border-radius: 0px 6px 6px 6px;
    min-width: 184px;
}

ul.caixa_menu_dir li {
    clear: both;
    white-space: nowrap;
}

ul.caixa_menu_dir li h1 a {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #004BB7;
}

ul.caixa_menu_dir li h1 a:hover {
    background: none;
    text-decoration: underline;
    color: #004BB7;
}

ul.caixa_menu_dir > li:first-child,
ul.caixa_menu_dir > li {
    margin: 0px;
    padding: 0px;
}

ul.caixa_menu_cli {
    position: absolute;
    background: #fff;
    color: #004BB7;
    border: 0px #004BB7 solid;
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: right;
    list-style: none;
    display: none;
    border-radius: 0px 6px 6px 6px;
    min-width: 140px;
}

ul.caixa_menu_cli li {
    clear: both;
    white-space: nowrap;
}

ul.caixa_menu_cli li h1 a {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #004BB7;
}

ul.caixa_menu_cli li h1 a:hover {
    background: none;
    text-decoration: underline;
    color: #004BB7;
}

ul.caixa_menu_cli > li:first-child,
ul.caixa_menu_cli > li {
    margin: 0px;
    padding: 0px;
}

.faleconosco_links a {
    color: #fff;
}

.faleconosco_links a > i {
    color: #0af;
}

.faleconosco_links a:hover {
    color: #0af;
}

/*
.faleconosco_links a:hover > i {
    color: #fff;
}
*/

section.prsnlzd_abertura {
    background: #0af;
    color: #fff;
    /* margin-top: 35px; */
    margin-top: 0px;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 35px;
}

form#prsnlzd_aberturaform {
    width: 75%;
}

.prsnlzd_abertura_form,
.prsnlzd_abertura_cnaes,
.prsnlzd_abertura_taxas {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.prsnlzd_abertura_taxas {
    padding-bottom: 0px;
}

.prsnlzd_abertura_form_campos {
    float: left;
    width: 22%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.prsnlzd_abertura_form_campos2 {
    float: left;
    width: 30%;
    margin-left: 1.65%;
    margin-right: 1.65%;
}

.prsnlzd_abertura_form_campos label,
.prsnlzd_abertura_form_campos2 label {
    font-size: 18px;    
}

.prsnlzd_abertura_form_campos2 button {
    margin-top: 27px;
}

.prsnlzd_abertura_cnaes table,
.prsnlzd_abertura_taxas table {
    background: #fff;
    color: #000;
    width: 96%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
}

.prsnlzd_abertura_cnaes table tr td,
.prsnlzd_abertura_taxas table tr td {
    font-size: 16px;
}

.prsnlzd_abertura_taxas table tr td {
    font-size: 28px; 
}

.prsnlzd_abertura_cnaes table thead tr th,
.prsnlzd_abertura_taxas table thead tr th {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #0af solid;
    vertical-align: top;
}

.prsnlzd_abertura_cnaes table tbody tr td,
.prsnlzd_abertura_taxas table tbody tr td {
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}

.prsnlzd_abertura_cnaes table tbody tr,
.prsnlzd_abertura_taxas table tbody tr {
    
}

.prsnlzd_abertura_cnaes table thead,
.prsnlzd_abertura_taxas table thead {
    font-weight: bolder;
    color: #0af;
}

.h2abert {
    font-size: 28px; 
    color: #fff; 
    font-weight: bold; 
    text-align: center; 
    display: block; 
    margin-bottom: 10px; 
    margin-top: 20px;
}

th.prsnlzd_abertura_th_cnae {
    min-width: 100px;
}

th.prsnlzd_abertura_th_imposto {
    min-width: 170px;
}

#prsnlzd_tip,
#prsnlzd_fat,
#prsnlzd_soc,
#prsnlzd_fun {
    padding: 13px;
    width: 200px;
}
.col-md-4 {
    width: 25% !important;
}

div.sobre {
    background: #eeeeee !important;
}
h2#sobre {
    color: #000000 !important;
}
p.sob-p {
  color: #000000 !important;
}
p.sob-p {
    font-size: 16px;
    text-align: justify;
}

div.servicos {
    background: #f0ad4e !important;
}
h2#servicos {
    color: #ffffff !important;
    font-size: 20px;
}
div.servicos div > p {
  color: #000000 !important;
  text-align: left;
  font-size: 13px;
}

ul.gtco-footer-links {
    font-size: 14px;
}
.gtco-widget {
    font-size: 14px;
}
div.servicos div p a.btn.btn-white.btn-lg.btn-outline {
    background-color: #337ab7 !important;
	width: 150px;
	font-size: 13px;
	height: 50px;
}
div.servicos div p.animate-box{
	text-align: center;
}

#gtco-features-3 .sini {
    background: #337ab7 !important;
    width: 33%;
}
p#si {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px !important;
    line-height: 1.7;
	text-align: left;
}
p#si span{
    color: #f0ad4e;
}
div.gtco-container.servicos-in{
    max-width: 1264px !important;
}
h2.animate-box.sidesc.fadeInUp.animated-fast {
    font-size: 25px !important;
}
a.confira {
    color: #f0ad4e;
}

.subscribe-t span {
    color: #f0ad4e;
}

.feature.feature-1.animate-box.box1.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box2.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box3.fadeInUp.animated-fast {
    margin: 10px;
    width: 350px !important;
}

#gtco-features-3 .feature.box2 {
    background-color: #f0ad4e !important;
}
#gtco-features-3 .feature.box2 span.icon {
    background-color: #337ab7 !important;
}
#gtco-features-3 .feature.box1 a.confira,
#gtco-features-3 .feature.box2 a.confira,
#gtco-features-3 .feature.box3 a.confira {
    color: #eeeeee;
}
#gtco-features-3 .feature.box1 div.feature-inner a.confira h3,
#gtco-features-3 .feature.box2 div.feature-inner a.confira h3 ,
#gtco-features-3 .feature.box3 div.feature-inner a.confira h3  {
    font-size: 17px !important;

}
#gtco-features, #gtco-features-2, #gtco-products, #gtco-services, #gtco-subscribe, #gtco-footer, .gtco-section {
    padding: 4em 0 !important;
}

.feature.feature-1.animate-box.box4.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box5.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box6.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box7.fadeInUp.animated-fast {
    margin: 10px;
    width: 250px !important;
}
#gtco-features-3 .feature.box4 a.confira div.feature-inner h5,
#gtco-features-3 .feature.box5 a.confira div.feature-inner h5,
#gtco-features-3 .feature.box6 a.confira div.feature-inner h5,
#gtco-features-3 .feature.box7 a.confira div.feature-inner h5 {
    color: #eeeeee !important;
}
.feature.feature-1.animate-box.box8.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box9.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box10.fadeInUp.animated-fast,
.feature.feature-1.animate-box.box11.fadeInUp.animated-fast {
    margin: 10px;
    width: 250px !important;
}
#gtco-features-3 .feature.box8,
#gtco-features-3 .feature.box9,
#gtco-features-3 .feature.box10,
#gtco-features-3 .feature.box11 {
    background-color: #f0ad4e !important;
}
#gtco-features-3 .feature.box8 a.confira div.feature-inner h3,
#gtco-features-3 .feature.box9 a.confira div.feature-inner h3,
#gtco-features-3 .feature.box10 a.confira div.feature-inner h3,
#gtco-features-3 .feature.box11 a.confira div.feature-inner h3  {
    font-size: 17px !important;
	color: #337ab7 !important;


}
#gtco-features-3 .feature.box8 a.confira div.feature-inner hr,
#gtco-features-3 .feature.box9 a.confira div.feature-inner hr,
#gtco-features-3 .feature.box10 a.confira div.feature-inner hr,
#gtco-features-3 .feature.box11 a.confira div.feature-inner hr  {
	border-top: 1px solid #337ab7 !important;
}
#gtco-features-3 .feature.box8 a.confira div.feature-inner h5, 
#gtco-features-3 .feature.box9 a.confira div.feature-inner h5, 
#gtco-features-3 .feature.box10 a.confira div.feature-inner h5, 
#gtco-features-3 .feature.box11 a.confira div.feature-inner h5 {
    color: #337ab7 !important;
}
#d-colunas {
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2;    /* Firefox */
    column-count:2;	/* padrão */
	color: #ffffff !important;
	text-align: left;
}
div#logo-parceiro img {
    vertical-align: middle;
    margin: 10px;
}
p#txt-cont {
    font-size: 18px;
    color: #337ab7;
}
p#txt-titulo  {
    font-size: 20px;
    color: #337ab7;
	text-align: center;
}
.btn.btn-lg {
    padding: 16px 19px !important;
}

/* Calendario */
#icalendario table {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    line-height: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
	display: table;
}
#box-calendario { 
	width: 100%; 
	margin:0px 0px; 
	text-align: center; 
	float: right;
}